body{
    background-color: #fff0e5;
    margin: 0;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
  }

  .open-sans-thin {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
  }

  .open-sans-semibold {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .open-sans-bold {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 600;
    font-style: normal;
  }

  .space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 1.3em;
    font-style: normal;
  }

  .space-mono-thin {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-size: 1.0em;
    font-style: normal;
  }

  header {
    background-color: #fff0e5;
    height: 4.5em;
    display: flex;
    align-items: center;
    top: 0;
    position: sticky;
    transition: background-color 0.2s ease-in-out;
    border-bottom: 0 solid black;
    z-index: 1000;
  }
  
  .scrolled {
    background-color: white;
    opacity: 0.98; 
    border-width: 1px;
  }
  

  header nav{
    padding: 1.5em 0 1.5em 7em;
    width: 90%;
  }

  header nav a{
    text-decoration: none;
    font-size: 0.9em;
    color:black;
    margin:auto;
    padding: 15px;
  }

  .navbox{
    display: flex;
    justify-content: space-between;
  }

  .left{
    margin-left: auto;
    margin-right: 2em;
  }

  .icon-button {
    color: black;
    border: none;
    cursor: pointer;
  }

  .first-page-main-page{
    display: flex;
    height: min-content;
    justify-content: center;
  }

  .carousel-item{
    max-height: 600px;
  }

  .screentone{
    position: absolute;
    height: 720px;
    z-index: -1;
  }


  .mainpage-carousel{
    margin: 0 0 6% 0 ;
    width: 70%;
    height: 600px;
  }
  
  .carousel-box{
    margin-top: 2%;
    margin-left: 10%;
    width: 70%;
  }

  .carousel-box h1{
    margin-top: 3% ;
    background-color: #fff0e5;
    font-size: 3.0em;
  }
  

  .carousel-indicators{
    background-color: #fff0e5;
    border-radius: 20px;
    padding: 0;
    margin: auto;
    width: 20%;
    height: 30px;
    border: 1px solid black;
  }

  .carousel-indicators li{
    background-color: black;
    padding: 0;
    margin: auto;
    height: 15px;
    width: 15px;
    border-radius: 10px;
    border: 1px solid black;
  }

  .six-hundo{
    height: 670px;
  }
  
  .small-font{
    font-size: 12px;
  }

  footer{
    border-top:1px solid black;
    width: 100%;
  }

  footer hr{
    background-color: black;
  }

  .blue-bg{
    background-color: #10162f;
    height: 1020px;
    width: 100%;
    background-size: cover;
    background-position: center;
  } 

  .screentone1{
    width: 100%;
  }

  .blue-bg-1{
    background-color: #3a10e5;
    height: 520px;
    width: 100%;
    bottom: 0;
    position: absolute;
  } 

  .right-box{
    max-width: 100%;
    height: 600px;
  }

  .large-box{
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-navy);
    background-color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 0.75rem;
    margin-left: 0.75rem;
    border-radius: 20px;
    box-shadow: -12px 12px black, -12px 12px 0 1px #10162f;
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 20px;
  }

  .large-box h2{
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 700;
    font-family: "Space Mono", monospace;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .badge-box{
    width: min-content;
    border-radius: 40px;
    font-weight: 400;
    white-space: nowrap;
    color: white;
    background-color: black;
    font-size: 0.875rem;
    height: 1.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .list-number{
    column-gap: 1rem;
    list-style-type: none;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    flex-direction: row;
    display: flex;
    padding: 0;
    margin-bottom: 0.5rem;
  }

  .zero-margin{
    margin: 0;
  }

  .one-margin{
    margin: 5px;
  }

  .margin-10{
    margin: 0 100px 0 0 ;
  }

  .second-page-main-page{
    color: white;
    width: 65%;
    margin: auto;
    padding-top: 2%;
  }


  .second-page-main-page p {
    margin: auto;
    width: max-content;
    z-index: 1;
  }

  .second-page-main-page h2 {
    margin: auto;
    width: max-content;
    font-size: 2.5em;
    margin-bottom: 50px;
    display: flex;
  }

  .course-box {
    height: 100%;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    box-shadow: 0px 0px 0 #10162f;
    position: relative;
    padding: 0px;
    overflow: hidden;
    border-radius: 5px;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    color: black;
    border: 1px solid black;
  }
  
  .course-box:hover {
    box-shadow: -12px 12px #00001a, -12px 12px 0 1px #10162f; /* Apply box shadow on hover */
    transform: translate(5px, -5px);
  }
  

  .course-box-top-box{
    background-color: #eafdc6;
    width: 100%;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 3px;
  }

  .course-box-2 {
    height: 100%;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    box-shadow: 0px 0px 0 #10162f;
    position: relative;
    padding: 0px;
    overflow: hidden;
    border-radius: 5px;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    color: black;
    border: 1px solid black;
  }

  .course-box-2:hover {
    box-shadow: -10px 10px white, -10px 10px 0 1px #10162f; /* Apply box shadow on hover */
    transform: translate(5px, -5px);
  }
  

  .course-box-top-box-2{
    color: white;
    background-color: #10162F;
    width: 100%;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 3px;
    font-size: 15px;
  }

  .course-container{
    width: 80%;
    margin:  0 2% 0 2%;
    height: 100%;
  }


  .course-container h5{
    padding: 10px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 0px;
  }

  .course-container span{
    padding-left: 10px;
    font-size: 0.8em;
    padding-right: 10px;
  }
  .course-container-footer{
    padding: 5px;
    border-top: 1px dotted black;
    padding-left: 10px;
    font-size: 0.8em;
    bottom: 0;
    position: absolute;
    width: 100%;
  }

  .course-container-main-box{
    display: flex;
    height: 35%;
    justify-content:space-around;
    margin-bottom: 50px;
  }

  .explore-btn{
    border: 1px solid black;
    background-color:#cfae0f;
    color: black;
    width: max-content;
    padding: 10px;
    align-self: center;
    font-weight: 600;
    border-radius: 5px;
    margin: auto;
    font-size: 0.9em;
    position: relative; /* or absolute, fixed */
    z-index: 1;
  }

  .second-page-main-page p{
    z-index: 1000;
  }



  /* ===================--------------------================== */
  /*                       LOGIN PAGE CSS                      */
  /* ===================--------------------================== */



  .first-page-login-page{
    width: 100%;
    height: 570px;
  }

  .login-form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 4.6rem;
    margin-bottom: 4rem;
    width: 22rem;
    max-width: calc(100% - 2rem);
  }

  .login-form h3{
    margin-bottom: 20px;
    font-size: 1.5em;
  }

  .label-login{
    font-size: 0.9em;
    margin-bottom: 5px;
    font-weight: 400;
  }

  .textbox-form{
    padding-left: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1rem;
    width: 100%;
    min-width: auto;
    padding-right: initial;
    border: 1px solid black;
    border-radius: 2px;
    margin-bottom: 1.1em;
  }

  .forgot-pass{
    margin-top: 10px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    color: #4019e9;
    font-size: 0.9em;
  }

  .forgot-pass a{
    color: #4019e9;
  }

  .submit-button{
    position: relative;
    border-radius: 4px;
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    min-width: 40px;
    height: 40px;
    color: white;
    background-color: #4019e9;
    border-width: 0;
    margin-top: 1.7em;
  }

  .signup-for-free{
    margin-top: 10px;
    font-size: 1em;
    margin-top: 8em;
  }

  .signup-for-free a{
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    color: #4019e9;
    font-weight: 700;
  }


  /* ===================--------------------================== */
  /*                      REGISTER PAGE CSS                    */
  /* ===================--------------------================== */
  .first-page-register-page{
    height: min-content;
    justify-content: center;
    margin-top: 4em;
    margin-bottom: 4.5em;
  }

  .first-page-register-page h3{
    margin-bottom: 1em;
    font-size: 1.5em;
    padding-left: 0.5em;
  }

  .form-box1{
    width: 100%;
    display: flex;
    margin: auto;
  }

  .form-box1 label{
    font-weight: 400;
  }

  * {box-sizing: border-box}

.container {
  padding: 0px;
  width: 100%;
}

.container2 {
  padding: 0px;
  margin-top: 0;
  width: 100%;
}

.container a {
  color: dodgerblue;
}


.signin {
  text-align: center;
}

.right-box1{
  width: 45%;
}

.left-box{
  width: 45%;
  margin-right: 5%;
}


.register-button{
  position: relative;
  border-radius: 4px;
  font-weight: 700;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 1rem;
  width: 100%;
  height: 55px;
  color: white;
  background-color: #4019e9;
  border-width: 0;
  margin-top: 1.7em;
  margin-bottom: 1em;
}

.register-button:hover {
  opacity:1;
}

.main-box{
  width: 40%;
  margin: auto;
}

  /* ===================--------------------================== */
  /*                         END OF PAGE                       */
  /* ===================--------------------================== */


  #tbluseraccount{
    border: 1px solid black;
  }

  #tbluseraccount tr{
    border: 1px solid black;
  }

  

  .first-page-dashboard{
    width: 80%;
    height: auto;
    margin: auto;
  }


  /* ===================--------------------================== */
  /*                        CATALOG PAGE                       */
  /* ===================--------------------================== */

  
  .second-page-catalog-page{
    color: white;
    width: 65%;
    margin: auto;
    padding-top: 5%;
  }

  .activity-first-page{
    margin-top: 5%;
    width: 100%;
  }
  .insert-act-box{
    margin: auto;
    width: 50%;
    margin-bottom: 2%;
  }


  .desBox{
    height: 20%;
  }

  .two-div-beside{
    display: flex;
    height: min-content;
  }

  
.register-button-act{
  position: relative;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  background-color: #4019e9;
  border-width: 0;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-left: 120%;
  margin-top: -18%;
}

.register-button-act:hover {
  opacity:1;
}

.course-container-act{
  width: 250px;
  height: 300px;
  margin-bottom: 3em;
}


.course-container-act h5{
  padding: 10px;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 0px;
}

.course-container-act span{
  padding-left: 10px;
  font-size: 0.8em;
  padding-right: 10px;
}

.course-container-main-box-act{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content:space-around;
  margin: auto;
  margin-bottom: 50px;
}





.shadow-box{
    box-shadow: -10px 10px white, -10px 10px 0 1px #10162f;
}

.table{
  border: 1px solid #00001a;
}

thead{
  border: 1px solid #00001a;
  border-bottom: 1px solid #00001a;
  border-top: 1px solid #00001a;
}

tbody td{
  border: 1px solid #00001a;
}

.profile-right-box{
  width: 60%;
  margin-right: 20%;
  height: 800px;
}

.assignment-box{
  height: 100px;
  margin: auto;
  background-color: white;
}



  /* ===================--------------------================== */
  /*                        MYHOME PAGE                        */
  /* ===================--------------------================== */


  .first-page-myhome{
    width: 100%;
    height:max-content;
    margin-bottom: 100px;
  }

  .dashboard-holder{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    height: 100%;
  }

  .dashboard-left-panel{
    width: 22%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 80px;
    height: 100%;
  }

  .toggle-button{
    border: 0px;
    background-color: #fff0e5;
    padding: 4%;
    padding-left: 10%;
    text-align: left;
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 2%;
    transition: background-color 0.5s ease;
  }

  .toggle-button:focus{
    outline: none;
  }

  .toggle-button:hover{
    color:#3a10e5;
  }

  .toggle-button.active{
    border: 0px solid #fff0e5;
    background-color: #f6e8de;
    box-shadow: -5px 0px black;
    font-weight: 600;
    transition: background-color 0.5s ease;
  }

  .dashboard-left-panel button:focus{
    outline:none;
  }
  


  .dashboard-right-panel{
    width: 75%;
  }

  .whitebg{
    background-color: white;
    border-radius: 20px;
  }

  .activity-first-page-2{
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
  }

  .yellow-top{
    height: 8%;
    background-color: #ffd300;
    border-bottom: 1px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom:3%;
  }

  .span-text{
    margin-top: 1%;
    margin-left:118%;
    font-size: 14px;
    width: 100px;
    color:#4019e9;
    font-weight: 600;
    text-align: center;
  }


  .header-box-tab{
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
  }

  .tab-button{
    padding: 1%;
    background-color: #fff0e5;
    border: 0px;
    width: 10%;
    font-weight: 600;
    height:60px;
    margin-bottom: 0px;
  }

  .tab-button:focus{
    outline:none;
  }

  .tab-button.active{
    padding: 1%;
    background-color: #fff0e5;
    border: 0px;
    border-bottom: 3px solid #3a10e5;
    width: 10%;
    font-weight: 600;
    box-shadow: none;
  }

  .compiler-box{
    width: 100%;
    background-color: white;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
  }

  .run-button{
    width: 10%;
    border: 0px;
    background-color: #3a10e5;
    width: 10%;
    color: white;
    margin-bottom: 1%;
    font-weight: 600;
    margin-right: 1%;
    border-radius: 5px;
  }

  .compiler-textbox{
    width: 48%; 
    height:100%;
    border:0px; 
    padding:0px;
    border-right: 1px solid black;
    margin-left: 1%;
  }

  .compiler-textbox:focus{
    border: none;
    outline: none;
    border-right: 1px solid black;
  }



  /* ===================--------------------================== */
  /*                        COURSE PAGE                        */
  /* ===================--------------------================== */


.addcourse-button {

}

.modal {
display: none; 
position: fixed; 
z-index: 1; 
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto; 
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.4); 
}

.modal-content {
background-color: #FFF0E5;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 30%; 
overflow: auto;
}

.box-for-close{
float: right;
margin-top: 0%;
}

.close {
float: right;
font-size: 20px;
font-weight: bold;
width: 20px;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}


.addCourse-button{
  background-color: #fff0e5;
  color: #3a10e5;
  font-weight: 600;
  outline:none;
  border: none;
  margin-left: 70%;
}

.addCourse-button:focus{
  border:0px;
  outline:none;
}


#activityName,
#activityDescription {
width: 100%;
box-sizing: border-box; 
margin-bottom: 10px;

}

.empty-box {
width: 250px; 
height: 300px;
border: 3px dashed #ccc;
margin: 20px;
padding: 20px;
text-align: center;
font-weight: bold;
font-size: 16px;
color:#4c4c55;
margin-top: 8%;
margin-bottom: 50px;
padding-top: 0px;
display: flex;
flex-direction: column;
}

.empty-box p{
  margin-top: 0px;
  height: 0px;
  padding-top: 0px;
}


  /* ===================--------------------================== */
  /*                          FOOTER PHP                       */
  /* ===================--------------------================== */


.footer-box{
  height:600px;
  width: 80%;
  margin: auto;
  display:flex;
  justify-content: space-between;
  padding: 3% 0%;
}

.footer-box i{
  margin:10% 1%;
  font-size: 20px;
}

.left-footer-box{
  height: 100%;
  width: 49%;
  display:flex;
  justify-content: space-between;
}

.left-footer-box-1{
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: column;
}

.left-footer-box-1 p{
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 3%;
}

.left-footer-box-1 h6{
  font-weight: 700;
  margin-bottom: 10%;
}

.horiline{
  width: 1px;
  border-left: 1px solid black;
}

.right-footer-box{
  height: 100%;
  width: 49%;
  display:flex;
  padding-left: 5%;
  justify-content: space-between;
}

.right-footer-box-1{
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.right-footer-box-0{
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

.right-footer-box-2{
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.right-footer-box-0 p{
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 3%;
}

.right-footer-box-0 h6{
  font-weight: 700;
  margin-bottom: 10%;
}

.right-footer-box-1 p{
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 3%;
}

.right-footer-box-1 h6{
  font-weight: 700;
  margin-bottom: 10%;
}

.right-footer-box-2 p{
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 3%;
}

.right-footer-box-2 h6{
  font-weight: 700;
  margin-bottom: 10%;
}

.policy-footer{
  width: 80%;
  margin: auto;
}

.go-bottom{
  margin-top: 300px;
}

.course-drop-down-container{
  width: 100%;
}

.course-drop-down{
  width: 100%;  
  display: flex;
  justify-content: space-between;
}

.course-drop-down-left{
  width: 100%;
}

.course-drop-down-right{
  width: 10%;
  height: 100px;
  padding:5% 7%;
}

.toggleButton-drop-down{
  border: none;
  background-color: white;
}

.toggleButton-drop-down:focus{
  outline: none;
}

.drop-down-box{
  background-color: white;
  border: 1px solid black;
}

.hidden-drop-down {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear; /* Add transition for smoother effect */
}

.hidden-drop-down.show {
  visibility: visible;
  opacity: 1;
}

@keyframes twist {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.rotate {
  animation: twist 0.5s ease-in-out forwards; /* Apply the twist animation */
}

.activity-box{
  border:1px solid #d6d6d6;
  margin:2% 3%;
  padding:3%;
  background-color: white;
}

.limited-characters {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%; /* Adjust the max-width as needed */
}

.activity-hover:hover{
  background-color: #f1f1f3;
}

.profile-page-first-page{
  border-radius: 20px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
}

.profile-page-first-page-container{
  width: 90%;
  margin: 5%;
  margin-top: 0px;
}

.profile-page-buttons{
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-left: 5px;
  border-radius: 5px;
}

.profile-main-box{
  width: 68%;
  margin-right: 5%;
  border-radius: 5px;
  border: 1px solid black;;
}

.profile-main-box p{
font-weight: 400;
font-family: "Open Sans", sans-serif;
}

.name-box{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
  padding-left: 3%;
  padding-top: 12px;
  display: flex;
}

.profile-pic-box{
  padding: 3%;
  border-bottom: 1px solid black;
}

.profile-pic-box img{
  width: 100px;
  border-radius: 50%;
}

.profile-pic-box button{
  border-radius: 25px;
  width: 50%;
  height: 40px;
  margin: auto 0;
  border: none;
  font-size: 14px;
  color:black;
}

.profile-pic-box.active button{
  border-radius: 5px;
  width: 50%;
  height: 40px;
  margin: auto 0;
  background-color: #3a10e5;
  border: none;
  font-size: 14px;
  color:white;
}

.profile-pic-box button:focus{
  outline: none;
}

.username-box{
  padding: 3%;
  border-bottom: 1px solid black;
}

.username-box-container{
  border: 1px solid black;
  background-color: #f6f6f6;
  width: 72%;
  border-radius: 5px;
  padding: 1.5%;
  margin-left: 0px;
  padding-left: 2%;
}

.username-box-container2{
  border: 2px solid black;
  background-color: #ffffff;
  width: 72%;
  height:40px;
  border-radius: 5px;
  padding: 1.5%;
  margin-left: 0px;
  padding-left: 2%;
}

.personal-info-box{
  padding: 3%;
  border-bottom: 1px solid black;
}

.usertype-box{
  padding: 3%;
}
.usertype-box2{
  padding: 3%;
  border-bottom: 1px solid black;
}

.submit-button-profile{
  border-radius: 5px;
  height: 40px;
  background-color: #3a10e5;
  border: none;
  font-size: 14px;
  color:white;
}

.submit-box{
  width: 100%;
  padding: 3%;
}